{% extends 'base.html'%}
{% block content %}
<header class="bg-dark py-5">
    <div class="container px-4 px-lg-5 my-5">
        <div class="text-center text-white">
            <h1 class="display-4 fw-holder"> About Us.. </h1>
            <p class="lead fw-normal text-white-50 mb-0"> 
                Welcome to Django Ecommerce 
            </p>
        </div>
    </div>
</header>
<div class="container">
    <div class="row">
        <center>
            <div class="col-8">
                <p align:"justify">
                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed consequat, sem eget lacinia egestas, neque metus vehicula mi, vel finibus sem nulla iaculis mi. Quisque magna est, malesuada at aliquam sit amet, laoreet eleifend quam. Phasellus ac diam in sem dignissim condimentum. Suspendisse quam mauris, porta eu nisl tincidunt, tincidunt mattis ligula. Proin quam nulla, sollicitudin ac porta nec, cursus id ligula. Donec blandit volutpat leo et lobortis. Morbi mauris turpis, molestie ut orci eget, cursus pellentesque mauris. Donec imperdiet ex sed risus tincidunt, sit amet ullamcorper ante venenatis. Curabitur tristique pretium sem, vestibulum aliquet neque. Vivamus vitae semper risus.
                    <br></br>
                    Curabitur sapien ex, hendrerit quis ultrices et, malesuada non sapien. Sed eget mauris lacus. Praesent at erat sit amet nisl commodo accumsan in quis ante. Maecenas dignissim vehicula tempor. Nam in condimentum nunc. Ut a luctus sem. Interdum et malesuada fames ac ante ipsum primis in faucibus. Vestibulum arcu lectus, vehicula in accumsan eu, mollis quis dui. Nam faucibus sagittis dolor. Vestibulum et euismod orci. Proin velit erat, luctus a sodales ut, porttitor nec sem. Curabitur egestas ultrices faucibus. Nam ac sodales lacus, eget laoreet diam. Ut lobortis tortor eros, quis eleifend sem facilisis sit amet. Praesent sodales vestibulum risus, non malesuada magna auctor ac.
                    <br></br>
                    Nunc in placerat ligula, sit amet finibus turpis. Vestibulum eget laoreet velit, vestibulum varius massa. Phasellus malesuada nisl vitae lectus molestie accumsan. Sed ac pretium arcu. Nulla ac massa lectus. Phasellus tristique cursus ex sed volutpat. Etiam gravida libero at eros laoreet, tempor commodo erat ullamcorper. Vestibulum id purus tortor. Duis auctor sapien ut ligula malesuada, eu molestie velit tempor. Mauris tempor consectetur ex at bibendum. Cras efficitur scelerisque lorem gravida gravida.
                    <br></br>
                    Nam elementum elit pretium, vulputate magna at, varius elit. Proin non arcu quis mi posuere posuere ac vitae elit. Donec sit amet auctor turpis. Sed in lectus venenatis lectus efficitur dictum sit amet eget diam. Maecenas ut lorem consectetur, maximus nisi vitae, convallis turpis. In hac habitasse platea dictumst. Nunc lobortis felis et sapien pulvinar tincidunt. Donec ultricies leo est, sit amet sodales lectus rutrum ut.                </p>
            </div>
        </center>
    </div>
</div>
{% endblock %}